body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.mission-header {
    background: #1976d2;
    color: white;
    font-weight: bold;
}

.mission-row, .mission-header{
    padding: 12px;
    box-sizing: border-box;
    justify-content: space-between;
}

.mission-main-image{
    max-height: 150px;
    /*max-height: inherit;*/
}

.mission-row {
    border-width: 0 0 1px 0;
    border-bottom-color: slategray;
    border-style: solid;
}

.flex-filler {
    flex-grow: 100;
}

.text-no-wrap {
    white-space: nowrap;
}
